/*#region page */

* {
    margin: 0;
    padding: 0;
}

body {
    animation: 2s ease-out 1s 1 body-load;
    background-image: linear-gradient(to right, #0463CA, 70%, skyblue);
}

@keyframes body-load {
    from {
      opacity:0;
      transform: translateY(-50px);
    }
    to {
      opacity:1;
      transform: translate3d(0);
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.wrapper {
    background-image: url('/resources/img/bridger_range.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    object-fit: cover;
    perspective: 10px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/*#endregion page */

/*#region header */

header {
    grid-area: "header";
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-image: linear-gradient(to left, black, 90%, rgba(50, 50, 50, .8), black);
    padding: 5px 0px 5px 10px;
}

.header-hero {
    display: flex;
    flex-direction: row;
}

.header-logo {
    min-width: 100px;
    margin-right: 30px;
}

.header-logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: .1px solid grey;
    box-shadow: 0px 0px 3px 3px black;  
    object-fit: cover;
}

.header-title {
    margin-top: 20px;
    margin-left: 0px;
    color: whitesmoke;
}

.header-title h2 {
    text-shadow: 1px 1px 3px darkslategrey;
    padding-bottom: 10px;
}

.header-title h3 {
    font-style: italic;
}

nav {
    flex-basis: auto;
}

.header-nav-links {
    list-style: none;
}

.header-nav-links li {
    display: inline-block;
    
}

.header-nav-link-button {
    color: whitesmoke;
    background-color: black;
    padding: .5em;
    margin: .5em;
    border: .5px solid darkgrey;
    border-radius: 1em;
    box-shadow: 1px 1px 1px 0px white;  
}

.header-nav-link-button:hover {
    background-color: rgba(50, 50, 50, 1);
    border-color: white;
    transition: 0.3s;
}

/*#endregion header*/

/*#region main */

main {
    grid-area: "main";
    margin-top: 5px;
}

main section {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 60px;
    background-image: linear-gradient(to right, grey, 60%, white);
    border-radius: 20px;
    border: 1px solid black;
    min-height: 150px;
}

main section .section-logo {
    min-width: 100px;
    flex: 0 0 none;
    padding-left: 15px;
    margin-right: 30px;
    border-right: 1px solid black;
}

main section .section-logo > h3 {
    padding-bottom: 5px;
}

main section .section-content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

main section .section-content > p {
    padding-right: 20px;
}

.code-calendar thead {
    text-align: center;
}

.code-calendar tr {
    line-height: 14px;
    white-space: nowrap;
}

.code-calendar td {
    border: 1px solid black;
    height: 12px;
    width: 14px;
    white-space: nowrap;
}

/*#endregion main */

/*#region footer */

footer {
    grid-area: "footer";
    display: flex;
    flex-direction: row;
    border: .5px solid white;
    border-radius: 20px;
    
    margin-bottom: 15px;
    color: white;
}

footer .section-logo {
    min-width: 100px;
    margin-right: 30px;
    padding-left: 15px;
    border-right: 1px solid black;
}

footer .section-content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

footer .section-content > div {
    border-right: 1px solid black;
    margin-right: 15px;
    flex-grow: 1;
    min-width: 200px;
}

footer .section-content > :last-child {
    border-right: 0px;
}

footer .footer-section-icons {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    position: relative;
}

footer .footer-section-icons > a, button {
    display: block;
    width: 25%;
    min-width: 50px;
}

footer .footer-button {
    background-color: rgba(0,0,0,0);
    border: 0px;
}

footer .footer-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
}

/*#endregion footer */

/*#region media */

@media screen and (max-width: 480px) {

    
    main section, footer  {
        display: block;
    }

    main section .section-logo, footer .section-logo {
        border-right: 0px;
        border-bottom: 1px solid black;
    }

    footer .section-content > div {
        border-right: 0px;
    }

}

/* @media screen and (min-width: 481px) and (max-width: 768px) {
    
    footer .section-content > div {
        
    }

} */

/*#endregion media */